{% extends "base.html" %}
<!--  -->
{% block title %}Test{% endblock %}
<!--  -->
{% block main %}
<main class="yesy">
  <div class="accueil"></div>
  <div class="position">
    <h1 id="bienvenue">Bienvenue</h1>

    <div class="groupe_boutons">
      <button>
        <p><a href="#lien_patisserie">Nos patisseries</a></p>
      </button>
      <button>
        <p><a href="#lien_patisserie">A propos</a></p>
      </button>
      <button>
        <p><a href="{{ url_for('contact') }}">Contacter</a></p>
      </button>
    </div>
  </div>

  <section class="nos_patisseries" id="nos_patisseries">
    <h2 id="lien_patisserie">Nos patisseries</h2>
    <div class="produits">
      <div class="info" id="info">
        <h1>Tarte aux citron meringué</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at
          eaque pariatur iure placeat veritatis exercitationem voluptas tenetur
          consequuntur maiores fuga voluptates commodi quia. Qui doloribus atque
          iste aperiam excepturi!
        </p>
        <div class="argent">
          <p>prix</p>

          <button class="ajouterPanier">ajouter</button>
        </div>
      </div>

      <img
        class="image_slide"
        src="{{ url_for('static', filename='images/tarte.jpg') }}"
      />
    </div>
    <div class="produits">
      <div class="info" id="info">
        <h1>Tarte aux citron meringué</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at
          eaque pariatur iure placeat veritatis exercitationem voluptas tenetur
          consequuntur maiores fuga voluptates commodi quia. Qui doloribus atque
          iste aperiam excepturi!
        </p>
        <div class="argent">
          <p>prix</p>
          <button class="ajouterPanier">ajouter</button>
        </div>
      </div>

      <img
        class="image_slide"
        src="{{ url_for('static', filename='images/tarte.jpg') }}"
      />
    </div>
    <div class="produits">
      <div class="info" id="info">
        <h1>Tarte aux citron meringué</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at
          eaque pariatur iure placeat veritatis exercitationem voluptas tenetur
          consequuntur maiores fuga voluptates commodi quia. Qui doloribus atque
          iste aperiam excepturi!
        </p>
        <div class="argent">
          <p>prix</p>
          <button class="ajouterPanier">ajouter</button>
        </div>
      </div>

      <img
        class="image_slide"
        src="{{ url_for('static', filename='images/tarte.jpg') }}"
      />
    </div>
    <div class="produits">
      <div class="info" id="info">
        <h1>Tarte aux citron meringué</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at
          eaque pariatur iure placeat veritatis exercitationem voluptas tenetur
          consequuntur maiores fuga voluptates commodi quia. Qui doloribus atque
          iste aperiam excepturi!
        </p>
        <div class="argent">
          <p>prix</p>
          <button class="ajouterPanier">ajouter</button>
        </div>
      </div>

      <img
        class="image_slide"
        src="{{ url_for('static', filename='images/tarte.jpg') }}"
      />
    </div>
    <div class="produits">
      <div class="info" id="info">
        <h1>Tarte aux citron meringué</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at
          eaque pariatur iure placeat veritatis exercitationem voluptas tenetur
          consequuntur maiores fuga voluptates commodi quia. Qui doloribus atque
          iste aperiam excepturi!
        </p>
        <div class="argent">
          <p>prix</p>
          <button class="ajouterPanier">ajouter</button>
        </div>
      </div>

      <img
        class="image_slide"
        src="{{ url_for('static', filename='images/tarte.jpg') }}"
      />
    </div>

    <div class="produits">
      <div class="info" id="info">
        <h1>Tarte aux citron meringué</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at
          eaque pariatur iure placeat veritatis exercitationem voluptas tenetur
          consequuntur maiores fuga voluptates commodi quia. Qui doloribus atque
          iste aperiam excepturi!
        </p>
        <div class="argent">
          <p>prix</p>
          <button class="ajouterPanier">ajouter</button>
        </div>
      </div>

      <img
        class="image_slide"
        src="{{ url_for('static', filename='images/tarte.jpg') }}"
      />
    </div>
    <div class="produits">
      <div class="info" id="info">
        <h1>Tarte aux citron meringué</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at
          eaque pariatur iure placeat veritatis exercitationem voluptas tenetur
          consequuntur maiores fuga voluptates commodi quia. Qui doloribus atque
          iste aperiam excepturi!
        </p>
        <div class="argent">
          <p>prix</p>
          <button class="ajouterPanier">ajouter</button>
        </div>
      </div>

      <img
        class="image_slide"
        src="{{ url_for('static', filename='images/tarte.jpg') }}"
      />
    </div>
    <div class="produits">
      <div class="info" id="info">
        <h1>Tarte aux citron meringué</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at
          eaque pariatur iure placeat veritatis exercitationem voluptas tenetur
          consequuntur maiores fuga voluptates commodi quia. Qui doloribus atque
          iste aperiam excepturi!
        </p>
        <div class="argent">
          <p>prix</p>
          <button class="ajouterPanier">ajouter</button>
        </div>
      </div>

      <img
        class="image_slide"
        src="{{ url_for('static', filename='images/tarte.jpg') }}"
      />
    </div>
    <div class="produits">
      <div class="info" id="info">
        <h1>Tarte aux citron meringué</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at
          eaque pariatur iure placeat veritatis exercitationem voluptas tenetur
          consequuntur maiores fuga voluptates commodi quia. Qui doloribus atque
          iste aperiam excepturi!
        </p>
        <div class="argent">
          <p>prix</p>
          <button class="ajouterPanier">ajouter</button>
        </div>
      </div>

      <img
        class="image_slide"
        src="{{ url_for('static', filename='images/tarte.jpg') }}"
      />
    </div>
    <div class="produits">
      <div class="info" id="info">
        <h1>Tarte aux citron meringué</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at
          eaque pariatur iure placeat veritatis exercitationem voluptas tenetur
          consequuntur maiores fuga voluptates commodi quia. Qui doloribus atque
          iste aperiam excepturi!
        </p>
        <div class="argent">
          <p>prix</p>
          <button class="ajouterPanier">ajouter</button>
        </div>
      </div>

      <img
        class="image_slide"
        src="{{ url_for('static', filename='images/tarte.jpg') }}"
      />
    </div>
    <div class="produits">
      <div class="info" id="info">
        <h1>Tarte aux citron meringué</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, at
          eaque pariatur iure placeat veritatis exercitationem voluptas tenetur
          consequuntur maiores fuga voluptates commodi quia. Qui doloribus atque
          iste aperiam excepturi!
        </p>
        <div class="argent">
          <p>prix</p>
          <button class="ajouterPanier">ajouter</button>
        </div>
      </div>

      <img
        class="image_slide"
        src="{{ url_for('static', filename='images/tarte.jpg') }}"
      />
    </div>
  </section>
  <div id="fenetre">
    <section id="panier-header">
      <h1>Votre panier</h1>
      <button class="ferm"><i class="fa-solid fa-xmark"></i></button>
    </section>
    <p id="vide">Votre panier est vide</p>
    <p id="tarte-ajout">Tarte aux citron meringué</p>
    <button id="panier-footer"><h2>Valider</h2></button>
  </div>
</main>
{% endblock %}
