<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />

    {% block link %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% block extra %} {% endblock%}
    <link rel="stylesheet" href="/static/css/base.css" />
  </head>
  <body>
    <header>
      <button>
        <p>
          <a href="{{ url_for('index') +'#lien_patisserie' }}"
            >Nos patisseries</a
          >
        </p>
      </button>
      <button>
        <p><a href="#lien_patisserie">A propos</a></p>
      </button>
      <button>
        <p><a href="{{ url_for('contact') }}">Contacter</a></p>
      </button>
    </header>
    <button id="panier"><i class="fa-solid fa-basket-shopping"></i></button>

    {% block main %} {% endblock %}

    <footer>Copyright 2026</footer>
    <script src="../static/js/index.js"></script>
  </body>
</html>
